.deadpendency-ad-container {
  text-align: center;
}

.deadpendency-ad {
  display: inline-block;
  padding: 5px 20px;

  border-radius: 0 0 10px 10px;
  background-color: #212529;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
  }

  .dead-heading {
    font-size: 1.5em;
  }

  .dead-word {
    color: #ffc107;
  }

  .dead-small-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: .9em;
    padding-left: 10px;
    white-space: nowrap;
  }

  .dead-green {
    color: #13be6f;
  }
}
